[submodule "themes/landing-page-hugo"]
	path = themes/landing-page-hugo
	url = https://github.com/crakjie/landing-page-hugo
[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/vickylai/hugo-theme-introduction.git
